<div id="about-container">
    <div id="about-container-inner">
        <!-- <i class="fab fa-accusoft"></i>
        <i class="far fa-address-card"></i> -->
        <app-header></app-header>
        <div class="nav-container">
            <div class="about-content">
                <div class="banner">
                    <h2 class="drop-shadow">About Us</h2>
                    <p class="drop-shadow">This assignment was created by Joshuah Guerrero</p>
                    <p class="drop-shadow">it was created for IS183 at CSU Fresno</p>
                    <button class="btn btn-primary drop-shadow">Learn More</button>
                </div>
            </div>
        </div>

    </div>
</div>