<div id="about-container">
    <div id="about-container-inner">
        <!-- <i class="fab fa-accusoft"></i>
        <i class="far fa-address-card"></i> -->
        <app-header></app-header>
        <div class="nav-container">
            <div class="about-content">
                <div class="banner">
                    <h2 class="drop-shadow">About Us</h2>
                    <p class="drop-shadow">This assignment was created by Joshuah Guerrero</p>
                    <p class="drop-shadow">it was created for IS183 at CSU Fresno</p>
                    <button class="btn btn-primary drop-shadow">Learn More</button>
                </div>




                  <section class="main-container">
                    <div class="top-section ">
                      <div class="top-inner-section">
                        <div class="pic-container">
                          <img
                            src="../../assets/img/J.png"
                            class="bio-image box-shadow-icon"
                            alt="my pic"
                          />
                        </div>
                        <div>
                          <h2>Joshuah Guerrero</h2>
                          <p>
                            Joshuah Guerrero is a fourth-year business student at Fresno State University, California. He is majoring in Computer Information Systems.
                          </p>
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged.
                          </p>
                        </div>
                      </div>
                    </div>

                  </section>  








            </div>
        </div>

    </div>
</div>